<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      .grid-content {
        display: flex;
        justify-content: center;
      }
      #inputBut {
        margin-left: 10px;
      }
      .secondSort{
        justify-content: right;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <template>
        <el-tabs v-model="activeName" @tab-click="handleClick" type="card">
          <el-tab-pane label="基础DBM制作" name="first">
            <el-row type="flex" justify="center" :gutter="20">
              <el-col :span="4"
                ><div class="grid-content bg-purple">
                  <el-input
                    type="textarea"
                    autosize
                    placeholder="请输入内容"
                    v-model="input"
                  >
                  </el-input></div
              ></el-col>
              <el-col :span="6"
                ><div class="grid-content">
                  <el-input
                    v-model="subtraction"
                    placeholder="需要减去的值"
                  ></el-input>
                  <el-button
                    type="primary"
                    id="inputBut"
                    @click="this.rearrange_data"
                    plain
                    >重新排列</el-button
                  >
                </div>
                <div>
                  <!-- 我想编辑table -->
                  <el-table :editable="true" :data="tableData" style="width: 100%">
                    <el-table-column prop="sikll" label="技能名" width="180">
                    </el-table-column>
                    <el-table-column prop="solution" label="解法">
                      <template slot-scope="scope">
                        <el-input v-model="scope.row.solution"></el-input>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-col>
              <el-col :span="14"
                ><div class="grid-content bg-purple">
                  <el-input
                    type="textarea"
                    autosize
                    placeholder="输出内容"
                    v-model="output"
                  >
                  </el-input>
                </div>
                <div>
                  <el-checkbox v-model="checked">结果同步到详细DBM制作</el-radio>
                </div>
              </el-col>
            </el-row>
          </el-tab-pane>
          <el-tab-pane label="详细DBM制作" name="second">
            <el-row type="flex" justify="center" :gutter="20">
              <el-col :span="4"
                ><div class="grid-content bg-purple">
                  <el-input
                    type="textarea"
                    autosize
                    placeholder="请输入内容"
                    v-model="input_2"
                  >
                  </el-input></div
              ></el-col>
              <el-col :span="6"
                >
                <div>
                  <!-- 我想编辑table -->
                  <el-table :editable="true" :data="tableData_2" style="width: 100%">
                    <el-table-column prop="sikll" label="技能名" width="180">
                    </el-table-column>
                    <el-table-column prop="solution" label="解法">
                      <template slot-scope="scope">
                        <el-input v-model="scope.row.solution"></el-input>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
                <div class="grid-content secondSort">
                  <el-button
                    type="primary"
                    id="inputBut"
                    @click="this.rearrange_data_second"
                    plain
                    >重新排列</el-button
                  >
                </div>
              </el-col>
              <el-col :span="14"
                ><div class="grid-content bg-purple">
                  <el-input
                    type="textarea"
                    autosize
                    placeholder="输出内容"
                    v-model="output_2"
                  >
                  </el-input>
                </div>
              </el-col>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </template>
    </div>
  </body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: function () {
        return {
          input: "",
          output: "",
          input_2: "",
          output_2: "",
          subtraction: "",
          tableData: [
            {
              sikll: "",
              solution: "",
            },
          ],
          tableData_2: [
            {
              sikll: "",
              solution: "",
            },
          ],
          activeName: "first",
          checked: true
        };
      },
      //把rearrange_data添加到methods中
      methods: {
        rearrange_data: function () {
          //获取input中的内容并分割原始数据，去除空行
          var raw_data = this.input;
          var data_lines = raw_data
            .trim()
            .split("\n")
            .filter((line) => line.trim());

          var step = 3;
          var output_lines = [];
          for (var i = 0; i < step; i++) {
            // 选择第i, i+step, i+2*step...的元素
            var line_data = [];
            for (var j = i; j < data_lines.length; j += step) {
              //----------------------------------------------------
              var subparts = data_lines[j].split(",");
              for (var n = 0; n < subparts.length; n++) {
                //将每个值以·分割
                var subsubparts = subparts[n].split("·");
                //如果当前没有以·分割的值，就直接取当前值，如果有，就分别取出值
                var two = undefined;
                if (subsubparts instanceof Array && subsubparts.length > 1) {
                  two = subsubparts[1];
                  var len = this.tableData.length;
                  var solution = "";
                  for (let index = 0; index < len; index++) {
                    const element = this.tableData[index];
                    if (element.sikll == two.replace(/;/g, "")) {
                      solution = element.solution;
                      break;
                    }
                  }
                  if (solution != "" && solution != undefined) {
                    two = two.replace(/;/g, "") + "·" + solution + ";"
                  }
                  subparts[n] = two;
                } else {
                  //subtraction改从data中获取
                  var num = parseFloat(this.subtraction);
                  var subtraction = isNaN(num) ? 0 : num;
                  var number = parseFloat(subparts[n]);
                  if (!isNaN(number)) {
                    subparts[n] = (number - subtraction).toFixed(1); // 保留两位小数
                  }
                }
              }
              //----------------------------------------------------
              line_data.push(subparts);
            }
            output_lines.push(line_data);
          }
          //将处理后的数据放入output中
          this.output = output_lines.join("\n").replace(/;,/g, ";");
        },
        handleClick(tab, event) {
          //切换到second选项卡，同步first中output到second中的input
          if(this.checked && tab.name == "second"){
            this.input_2 = this.output
          }
      },
      //second选项卡数据处理
      rearrange_data_second: function () {
          //不需要分割数据，只是做数据替换
          //拿到input_2的值，循环table中的技能名，匹配table中所有技能名并替换相关内容
          let secondStr = this.input_2
          this.tableData_2.map((item)=>{
            secondStr = secondStr.replaceAll(item.sikll,`${item.sikll}·${item.solution}`)
          })
          this.output_2 = secondStr
        },
        handleRadio: function (value){
          console.log(111);
          this.radio = !this.radio
        }
      },
      watch: {
        input: function (val) {
          //截取字符串，从·到;结束，但是不能包含·和;
          var reg = /·(.*?)\;/g;
          var result = val.match(reg);
          //把result放入tableData中，删除重复的值
          this.tableData = Array.from(new Set(result)).map((item) => {
            return {
              sikll: item.replace(/·|;/g, ""),
              solution: "",
            };
          });
        },
        input_2: function (val) {
          //截取字符串，从·到;结束，但是不能包含·和;
          var reg = /(?<=,)([^,;]+)(?=;)/g;
          var result = val.match(reg);
          //把result放入tableData中，删除重复的值
          this.tableData_2 = Array.from(new Set(result)).map((item) => {
            return {
              sikll: item,
              solution: "",
            };
          });
        },
      },
    });
  </script>
</html>
